
.tarjeta{
  width: 500px;
  height: 300px;
  background-color: cornsilk;
  border: 2px solid #fff;
  color: black;
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.error {
  background-color: rgb(160, 57, 57);
  color: #000;
}
